// VARIABLES
$primary: #C42F40;
$secondary: white;
$tertiary: black;
body{
    background-image: url(../../public/img//main_bg.jpg);
}
// HEADER
header{
    // navbar
    nav{
        z-index:9;
        margin: 2% 7%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
        .menu{
            border-top: 1px solid rgba(255, 255, 255, 0.521);
            border-bottom: 1px solid rgba(255, 255, 255, 0.521);
            margin: 4%;
            .coloré{
                background-color: $primary;
            }
            a{
                color: $secondary;
                
            }
            a:hover{
                background-color: $primary;
            } 
        } 
        img{
            width: 5%;
            height: 0%;
            margin: 1% 0;
        }   
    }       
    // carousel
    .carousel{
        img{
            filter: brightness(20%); 
        }
        .carousel-caption{
            top:26%;
            p{
                font-family: 'Courgette', cursive;
                text-align: center;
                #small{
                    font-size: 310%;
                }
                #taste{
                    color:$primary;
                }
                #large,#taste,#occasion{
                    font-size:400%;
                }
            }
            img:last-child{
                width: 100%;
            }
        }
        button{
            //font-size:85%;
            padding: 1% 3%;
        }
        .btn1{
            background-color: $secondary;
            color: $tertiary;
            margin-right:1%;
        }
        .btn2{
            background-color: $primary;
            color: $secondary;
            margin-left: 1%;
        }
        .deco{
            background-image: url(../../public/img/bottom_decoration_img.png);
            position: absolute;
            bottom:0;
            width:100%;
            height:15px;
            z-index:10;
        }
       
    }

}
// SECTION1
.section1{
    .container{
        width:85%;
        border: 1px solid rgba(0, 0, 0, 0.233);
        background-color: $secondary;
        margin-top: 5%;
        padding: 0;    
        //row top deco
        .row1{
            margin:0;
            width: 100%;
            justify-content: space-between;
            .col-2{
                position: relative;
                padding:0;
            }
            .col-center{
                align-self: center;
                line-height:0;
            }
            .left{
                left: 5.6%;
            }
            span{
                color:$primary;
                font-size: 150%;
            }
            h2,span{
                font-family: 'Courgette', cursive;
                text-align: center;
            }
        }

        //icons
        .div-icon{
            padding-right:0;
        }
        //Menu list
        .nav-pills {
            text-align: center;
            #v-pills-home-tab{
                border-bottom: 2px solid lightgrey;
                border-right: 4px solid $primary;
            }
            #v-pills-profile-tab, #v-pills-messages-tab, #v-pills-settings-tab{
                border-bottom: 2px solid lightgrey;
                border-right: 2px solid lightgrey;
            }
            #v-pills-settings1-tab {
                border-right: 2px solid lightgrey;
            }
            
            .icons {
                color: lightgrey;
            }
            .icons:hover {
                color: $primary;
            }
            p{  
                font-family: 'Courgette', cursive;
                font-size: 1.4rem;
            }
    
        }
        .galere {
            padding-bottom: 5%;
            .icon1{
                color: $primary;
            }
        }
        .text-danger{
            background-color: rgba(128, 128, 128, 0.299);
        }
        .menu {
            img {
                width: 70%;
                border-radius: 100%;
            }
        }   
        
    }
}

// SECTION2
.container2{
    background-image: url(../../public/img/team_background.jpg);
    .row1{
        padding-top:5%;
        width: 100%;
        .col-center{
            line-height:0;
        }
        span{
            color:$primary;
            font-size: 150%;
        }
        h2,span{
            font-family: 'Courgette', cursive;
            text-align: center;
        }
        h2{
            color: $secondary;
        }
    }
    .row2{
        width:80%;
        .col-3{
            img{

                border-bottom: 1px solid white;
            }
            p{
                color: $secondary;
                text-align: center;
            }
        }
    }
}
.container3{
    width:85%;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background-color: $secondary;
    margin-top: 5%;
    padding: 0;    
    //row top deco
    .row1{
        margin:0;
        width: 100%;
        justify-content: space-between;
        .col-2{
            position: relative;
            padding:0;
        }
        .col-center{
            align-self: center;
            line-height:0;
            text-align: center;
        }
        .left{
            left: 5.6%;
        }
        span{
            color:$primary;
            font-size: 150%;
        }
        h2,span{
            font-family: 'Courgette', cursive;
            text-align: center;
        }
    }
    .jumbotron{
        background-image: url(../../public/img/book_table_bg.jpg);
        z-index:1;
        justify-content: space-around;
        p{
            color:$secondary;
            text-align: center;
        }
        span{
            font-size:140%;
        }
        a{
            background-color: $primary;
            color: $secondary;
            font-size:90%;
        }
        .form-example{
            width:100%;
        }
        input{
            border-radius:10px;
        }
    }
    //form
    .col-center{
        align-self: center;
        line-height:0;
        width:50%;
    }
    .text-center{
        line-height:0;
        span{
            color:$primary;
            font-size: 150%;
        }
        h2,span{
            font-family: 'Courgette', cursive;
            text-align: center;
        }
    }
        
}


// SECTION3
.container4{
    background-image: url(../../public/img/testimonials_background.jpg);
    .text-center{
        line-height:0;
        span{
            color:$primary;
            font-size: 150%;
        }
        h2,span{
            font-family: 'Courgette', cursive;
            text-align: center;
        }
        h2{
            color:$secondary;
        }
    }
    .test-body{
        width: 85%;
        margin: 0 auto;

        .manager{
            div img{
                border-radius: 100%;
                border: solid 5px rgb(239, 239,239);
                width: 80%;
            }
            .card {
                border-radius: 20px;
                .card-body .card-title{
                    font-weight: bold;
                }
            }
        
        }
    }

}
//contact
.title{
    line-height:0;
    span{
        color:$primary;
        font-size: 150%;
    }
    h2,span{
        font-family: 'Courgette', cursive;
        text-align: center;
    }
    h2{
        color:$tertiary;
    }
}
.cadre{
    border-radius: 10px;
}

//FOOTER
footer{
    position: relative;
    .ftr-deco{
        background-image: url(../../public/img/footer_bottom_decoration_img.png);
        background-repeat: repeat-x;
        height: 2vh;
        width: 100%;
        position: absolute;
        top: 0%;
    }
    .social{
        background-image: url(../../public/img/footer_background.jpg);
        z-index: 5;
        .row .col-insta div img{
            width: 100%;
        }
        .mx-2{
            font-size:80%;
        }
    }

}





   

