@charset "UTF-8";
body {
  background-image: url(../../public/img//main_bg.jpg);
}

header nav {
  z-index: 9;
  margin: 2% 7%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
}

header nav .menu {
  border-top: 1px solid rgba(255, 255, 255, 0.521);
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  margin: 4%;
}

header nav .menu .coloré {
  background-color: #C42F40;
}

header nav .menu a {
  color: white;
}

header nav .menu a:hover {
  background-color: #C42F40;
}

header nav img {
  width: 5%;
  height: 0%;
  margin: 1% 0;
}

header .carousel img {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

header .carousel .carousel-caption {
  top: 26%;
}

header .carousel .carousel-caption p {
  font-family: 'Courgette', cursive;
  text-align: center;
}

header .carousel .carousel-caption p #small {
  font-size: 310%;
}

header .carousel .carousel-caption p #taste {
  color: #C42F40;
}

header .carousel .carousel-caption p #large, header .carousel .carousel-caption p #taste, header .carousel .carousel-caption p #occasion {
  font-size: 400%;
}

header .carousel .carousel-caption img:last-child {
  width: 100%;
}

header .carousel button {
  padding: 1% 3%;
}

header .carousel .btn1 {
  background-color: white;
  color: black;
  margin-right: 1%;
}

header .carousel .btn2 {
  background-color: #C42F40;
  color: white;
  margin-left: 1%;
}

header .carousel .deco {
  background-image: url(../../public/img/bottom_decoration_img.png);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  z-index: 10;
}

.section1 .container {
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.233);
  background-color: white;
  margin-top: 5%;
  padding: 0;
}

.section1 .container .row {
  margin: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .container .row .col-2 {
  position: relative;
  padding: 0;
}

.section1 .container .row .col-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section1 .container .row .left {
  left: 5.6%;
}

.section1 .container .row span {
  color: #C42F40;
  font-size: 150%;
}

.section1 .container .row h2, .section1 .container .row span {
  font-family: 'Courgette', cursive;
  text-align: center;
}

.section1 .container .row .col-3 .nav-pills, .section1 .container .row .col-3 .nav-link {
  border-radius: 0;
}

.section1 .container .row .col-3 #v-pills-tab {
  border-right: 1px solid rgba(0, 0, 0, 0.335);
}

.section1 .container .row .col-3 .menu-list a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.335);
  margin-right: 2%;
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section1 .container .row .col-3 .menu-list a #icon1 {
  color: #C42F40;
}

.section1 .container .row .col-3 .menu-list a .fa-3x {
  color: rgba(128, 128, 128, 0.602);
}

.section1 .container .row .col-3 .menu-list a .fa-3x:hover {
  color: #C42F40;
}

.section1 .container .row .col-3 .menu-list h3 {
  font-family: 'Courgette', cursive;
}
/*# sourceMappingURL=style.css.map */